# Python venv
.venv/
venv/

# Pycache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Model weights
models/distilbert_langdet/*
models/grammar_model/*
!models/**/.gitkeep

# VSCode
.vscode/

# System files
.DS_Store

notebooks/tmp_trainer/