# Python venv
.venv/
venv/

# Pycache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Model weights
models/distilbert_langdet/*



# VSCode
.vscode/

# System files
.DS_Store

notebooks/tmp_trainer/